<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/min-hover.css">
    <title>DASHBOARD</title>
</head>
<body>
        <div class = navbar>
        <div class = logo>
            <a style="color: #D3AF66;" class = hvr-underline-from-center href = >chess2gether</a>
        </div>
        <a class = hvr-underline-from-center href = >About</a>
        <a class = hvr-underline-from-center href = >Log in</a>
    </div>
    <div class = main-content>
        Do you like playing chess, but You are bored of playing it online?
        <hr>
        Meet chess2gether, place which allows You to face your online opponents in real life.
        <hr>
        <a href = .>
        <div class = sign-up-button>
            Sign up
        </div>
        </a>
    </div>
</body>
</html>