@media screen and (max-device-width:414px),
screen and (max-width:414px) {
    body {
        flex-direction: column;
    }

    .logo {
        height: 20vh;
    }

    .login-form {
        height: 80vh;
    }
}