:root {
    --main-text-color: red;
}


body {
    color: var(--main-text-color);
    margin: 0;
    display: flex;
    flex-direction: row;
}

h1 {
    margin: 0;
}

.logo {
    background-color: gold;
}

.login-form {
    background-color: red;
}

.logo, .login-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}