:root {
    --main-text-color: white;
    font-family: "Rockwell";
    font-size: 3vw;
}

button, input, a{
    font-family: "Rockwell";
}


body {
    color: var(--main-text-color);
    margin: 0;
    display: flex;
    flex-direction: column;

    background-image:  url(../img/bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
  }

hr {
    opacity: 0;
}

input {
    width: 25vw;
    height: 5vh;
}

input::placeholder {
    text-align: left;
    font-size: 1vw;
}

.navbar {
    display: flex;
    width: 100%;
    height: 12vh;
    background-color: #34140E;

    align-items: center;
    justify-content: space-between;
}

.navbar > a:first-child {
    color: #D3AF66;
}


.menu {
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 4vh;
}

.main-content-paragraph{
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D3AF66 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 15vw;
    opacity: 1;
    width: 20vw;
    height: 10vh;
}

.sign-up-form {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-size: 3vw;

    width: 40vw;
    height: 60vh;
    background: #D3AF66 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5vw;
    opacity: 1;
}

.sign-up-form > a:last-child{
    font-size: 1vw;
}

.sign-up-form > a:nth-last-child(2){
    font-size: 1vw;
}

.main-content-event {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding-top: 13vh;
}

.map-main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 4vh;
}

.map-main-content form {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.map-main-content form input {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.event-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid #707070;

    width: 40vw;
    height: 60vh;
    background: #D3AF66 0% 0% no-repeat padding-box;
    border-radius: 7vw;
    opacity: 1;
}

.inner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 15vh;

    border: 1px solid #707070;

    background: #34140E 0% 0% no-repeat padding-box;
    border-radius: 4vw;
    font-size: 2vw;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #7070709f;;
    width: 10vw;
    height: 12vh;
    border-radius: 10vw;
    border: 1px solid #707070;
    margin-left: 1vw;
    margin-right: 1vw
}

#map{
    margin-top: 2vh;
    width: 60vw;
    height: 65vh;

    border-radius: 3vw;
    border: 1px solid #707070;
}

.edit-menu{
    font-size: 2vw;
    width: 100%;
    background-color: rgba(52, 20, 14, 0.33);
}
.user-profile{
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile > form > .submit-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-arrow .submit{
    background: url("public/img/arrow.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    cursor: pointer;
    width:7vw;
    height:12vh;
    border: 3px solid #ffffff;
    border-radius: 2vw;
    margin-top: 1vh;
}

.messages {
    color: black;
    font-size: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh
}

.messages-white {
    color: white;
    font-size: 4vw;
    margin-top: 4vh;
    margin-bottom: 4vh
}

.dropbtn {
    background-color: #34140E;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;

    font-size: 3vw;
}

.dropdown-content {
    flex-direction: column;
    display: none;
    position: absolute;
    background-color: #D3AF66;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    background-color: #D3AF66;
    border: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 2vw;
    width: auto;
}

.dropdown-content a:hover {background-color: #D3AF66}

.show {display:block;}

.logout {
    background-color: #D3AF66;
    border: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 2vw;
    width: auto;
}

/* create Location */
.submitMarkerButton {
    margin-top: 1vh;
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.submitMarkerButton:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.submitMarkerButton:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.submitMarkerButton:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.submitMarkerButton:focus {
    outline: 1px transparent;
}

.submitMarkerButton:before {
    display: none;
}

.submitMarkerButton::-webkit-details-marker {
    display: none;
}